@charset "utf-8";
/* CSS Document */

*{
	margin:0px;
	padding:0px;
}
body{
	width:90%;
	max-width: 1000px;
	margin:auto;
	background-image: url(fondo.jpg);
	background-repeat: no-repeat;
	background-size:cover;

}

#titulopri{
	padding-bottom: 20px;
	padding-top: 25px;
	font-size: 40px;
	padding-left: 400px;
	color: #FFF0C2;
}

#titulo{
	font-family: 'Sintony', sans-serif;
	font-size: 40px;
	padding-top:30px;
	padding-bottom:20px;
	color:#FFF0C2;
}
#menuprincipal{
	display:flex;
	color: #CBCEFB;
}

menu, a{
	color: #CBCEFB;
}
menu, a:visited{
	color: #CBCEFB;
}
	

#menu ul li{
	display: inline;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-weight: bold;
	font-size: 13px;
	padding-left: 50px;
	padding-right: 50px;
}

#nav2{
	padding-left: 70px;
	font-size: 27px;
}

#principal{
	display:flex;
	font-size: 20px;
	width:750px;
}

#parrafo{
	padding-left: 30px;
	color: #FFF0C2;
}

#subtitulo{
	font-family: 'Sintony', sans-serif;
	font-size: 40px;
	color: #FFF0C2;
}
#caja{
	display:flex;
	padding:10px;
}
#caja1{
	background-image: url("playa.jpeg");
	background-repeat: no-repeat;
	background-size:contain;
	width:450px;
	height: 300px;
	margin-right:5px;
	
}
#caja2{
	background-image: url("serpiente.jpg");
	background-repeat: no-repeat;
	background-size:contain;
	width:450px;
	height: 300px;
	margin-right:5px;
}
#caja3{
	background-image: url("concierto.jpg");
	background-repeat: no-repeat;
	background-size:contain;
	width:400px;
	height: 302px;
}

#menu2 ul li{
	display: inline;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-weight: bold;
	font-size: 18px;
	padding-left: 68px;
	padding-right: 68px;
	color: #FFF0C2;
}

#agradecimientos1{
	color: #FFF0C2;
	margin-left: 5%;
	margin-top: 5%;
}
#conetenedornegro{
	padding-bottom: 5%;
	background: #111113;
	margin: auto;
}
#destos{
	padding-left: 2%;
}

footer{
	background-color: #333;
	margin: auto;
	color:#939497;
	background-size: cover;
	display: flex;
}
#elfoot ul li{
	display: inline;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 15px;
	padding-left: 68px;
	padding-right: 68px;
}
